[submodule "backstab319Ionic/src/app/applications/chat-web-app"]
	path = backstab319Ionic/src/app/applications/chat-web-app
	url = https://github.com/backstab319/chat-web-app.git
[submodule "backstab319Ionic/src/app/applications/translate"]
	path = backstab319Ionic/src/app/applications/translate
	url = https://github.com/backstab319/translate
