<mat-card>
  <mat-card-header>
    <mat-card-title><h1 class="mat-h1">Welcome!</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 class="mat-h4">The purpose of this webapp is to accomplish the following objectives</h4>
    <mat-list>
      <mat-list-item>
        <p class="mat-body-1">To showcase my projects</p>
      </mat-list-item>
      <mat-list-item>
        <p class="mat-body-1">To showcase my on going projects</p>
      </mat-list-item>
      <mat-list-item>
        <p class="mat-body-1">Provide a mdeium for current clients to track the work on their project</p>
      </mat-list-item>
      <mat-list-item>
        <p class="mat-body-1">Allow the clients to watch their project being built</p>
      </mat-list-item>
      <mat-list-item>
        <p class="mat-body-1">Allow clients to request changes</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
