<form (submit)='onFixProject(fixFormData)' #fixFormData='ngForm'>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" name="personName" ngModel #personName='ngModel' required>
    <mat-error>Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Address</mat-label>
    <input type="email" name="personEmail" matInput ngModel #personEmail='ngModel' required>
    <mat-error>Please enter your email address</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project Issue Description</mat-label>
    <textarea matInput ngModel name='projectIssue' #projectIssue='ngModel' required></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color='primary'>Done!</button>
</form>
