<form (submit)='onCreateCustomProject(createFormData)' #createFormData='ngForm'>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" name="personName" ngModel #personName='ngModel' required>
    <mat-error>Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name='personEmail' ngModel #personEmail='ngModel' required>
    <mat-error>Please enter your email address</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project Description</mat-label>
    <textarea matInput name='personProject' ngModel #personProject='ngModel' required></textarea>
    <mat-error>Describe your project</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color='primary'>Done!</button>
</form>
