<div class="container mt-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="mat-h1">About the developer</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Qualifications</mat-panel-title>
            <mat-panel-description>Developer's Qualifications</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <p class="mat-body-1">Graduated BCA with 7.4 CGPA</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Completed core python course</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat--body-1">Completed Django course</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Completed German A1, A2 from Deutsch Center</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-divider [inset]='true'></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Development Skills</mat-panel-title>
            <mat-panel-description>Developer's Skillset</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <p class="mat-body-1">Angular</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Python</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Django</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">PHP</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Bootstrap</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">Angular Material</p>
            </mat-list-item>
            <mat-list-item>
              <p class="mat-body-1">SQL</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-divider [inset]='true'></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Porfolio</mat-panel-title>
            <mat-panel-description>Developer's Portfolio</mat-panel-description>
          </mat-expansion-panel-header>
          <h3 class="mat-h3">Take a peek!</h3>
          <mat-list>
            <mat-list-item>
              <p class="mat-body-1">Link to my <a mat-raised-button color='primary' href='https://github.com/backstab319'>Github</a></p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
