<div class="container mt-4">
  <app-custom-project></app-custom-project>
</div>
<div class="container mt-4">
  <div *ngIf='customProjectsData.length >= 0'>
    <mat-card *ngFor='let i of customProjectsData' class='mt-2'>
      <mat-card-header>
        <mat-card-title> {{i.personName}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body-1">{{i.personEmail}}</p>
        <p class="mat-body-1">{{i.personProject}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf='customProjectsData.length <= 0'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>No data available yet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body-1">The data when available will be presented here</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container mt-4">
  <div *ngIf='fixProjectsData.length >= 0'>
    <mat-card *ngFor='let i of fixProjectsData' class='mt-2'>
      <mat-card-header>
        <mat-card-title> {{i.personName}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body-1">{{i.personEmail}}</p>
        <p class="mat-body-1">{{i.projectIssue}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf='fixProjectsData.length <= 0'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>No data available yet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body-1">The data when available will be presented here</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
